<div class="product-inside">


    <div class="product-selected-left">
        <p class="footprint">Home / Sneakers / New Balance 530 Unisex</p>

        <div class="product-image">

        </div>
    </div>



    <div class="product-right">

        <div class="product-hot">
            <p>HOT!</p>
        </div>

        <div class="product-main-info">

            <h2 class="product-name">New Balance 530 unisex</h2>
            <p class="product-description">The original MR530 combines the aesthetics of the turn of the millennium with
                the reliability of a high-mileage running shoe. The new 530 model offers a contemporary, everyday style
                with a performance-oriented design. The segmented ABZORB midsole is paired with a classic upper design
                featuring synthetic and mesh overlays, which uses bold angles and curves to create a distinctive,
                high-tech look.</p>
        </div>

        <div class="calification">
            <img src="/calification.png" alt="calification-star">
            <p class="product-review">4.4/5 (1500) - 2000 sold</p>
        </div>

        <div class="product-price">
            <p class="product-disscount">20% OFF</p>
            <p class="product-actual-price">USD <span class="product-original-price">250</span> 150</p>
        </div>

        <form action="" class="product-size">
            <div class="size-inside">
                <label for="" class="product-size-label">Size</label>
                <div class="size-inside-button">
                    <button>Men</button>
                    <button>Women</button>
                </div>
            </div>
            <select name="" id="" class="product-size-select">
                <option value="">8M</option>
                <option value="" style="background-color:#0A332D">8.5M</option>
                <option value="">9M</option>
                <option value="" style="background-color:#0A332D">9.5M</option>
                <option value="">10M</option>
                <option value="" style="background-color:#0A332D">10.5M</option>
                <option value="">11M</option>
                <option value="" style="background-color:#0A332D">11.5M</option>
            </select>
        </form>

        <p class="product-stock">Stock: 25</p>
        <div class="cta-buttons">
            <button class="buy-now">
                <img src="/buynow.png" alt="buy now">
                <p>BUY NOW</p>
            </button>
            <button class="add-to-cart">
                <img src="/addtocart.png" alt="add to cart">
                <p>ADD TO CART</p>
            </button>
        </div>
    </div>
</div>

<div class="additional-info">
    <table>
        <thead>frfr</thead>
        <td>frrfr</td>
        <tfoot>frfr</tfoot>
    </table>
</div>