<div class="product-inside">

     @if(product$ | async; as product){
    <div class="product-selected-left">
        <p class="footprint">Home / Sneakers / {{product.name}}</p>

        <div class="product-image" [style.background-image]="'url(' + product.imgURL + ')'">

        </div>
    </div>

    <div class="product-right">

       
        <div class="product-hot">
            <p>HOT!</p>
        </div>

        <div class="product-main-info">

            <h2 class="product-name">{{product.name}}</h2>
            <p class="product-description">{{product.description}}</p>
        </div>

        <div class="calification">
            <img src="/calification.png" alt="calification-star">
            <p class="product-review">{{product.reviewAverage}}/5 ({{product.reviewAmount}}) - {{product.soldAmount}} sold</p>
        </div>

       <div class="product-price">
    @if (product.discount > 0) {
        <p class="product-disscount">{{ product.discount }}% OFF</p>
        <p class="product-actual-price">
            USD <span class="product-original-price">{{ product.originalPrice }}</span> {{ product.price }}
        </p>
    } @else {
        <p class="product-actual-price">USD {{ product.price }}</p>
    }
</div>
        <form action="" class="product-size">
            <div class="size-inside">
                <label for="" class="product-size-label">Size</label>
                <div class="size-inside-button">
                    <button>Men</button>
                    <button>Women</button>
                </div>
            </div>
            <select name="" id="" class="product-size-select">
                <option value="">8M</option>
                <option value="" style="background-color:#0A332D">8.5M</option>
                <option value="">9M</option>
                <option value="" style="background-color:#0A332D">9.5M</option>
                <option value="">10M</option>
                <option value="" style="background-color:#0A332D">10.5M</option>
                <option value="">11M</option>
                <option value="" style="background-color:#0A332D">11.5M</option>
            </select>
        </form>

        <p class="product-stock">Stock: {{product.stock}}</p>
        <div class="cta-buttons">
            <button class="buy-now">
                <img src="/buynow.png" alt="buy now">
                <p>BUY NOW</p>
            </button>
            <button class="add-to-cart">
                <img src="/addtocart.png" alt="add to cart">
                <p>ADD TO CART</p>
            </button>
        </div>
    </div>
    
}
    
</div>

